@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000000;
    cursor: crosshair;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: 'JetBrains Mono', monospace;
    user-select: none;
  }
}
